<h1 mat-dialog-title>
    Cadastrar Cidade
</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <input title="Cidade" placeholder="Informe o nome da cidade" type="text" matInput formControlName="nome">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <input title="Estado" placeholder="Informe o estado" type="text" matInput formControlName="estado">
        </mat-form-field>
    </form>
</div>

<div class="d-btns" mat-dialog-actions *ngIf="!(cadastrando$ | async); else cadastrando;">
    <button type="button" mat-stroked-button mat-dialog-close>Cancelar</button>
    <button type="submit" mat-raised-button color="primary" (click)="cadastrar()" cdkFocusInitial>
        Salvar
    </button>
</div>

<ng-template #cadastrando>
    <div class="d-btns" mat-dialog-actions>
        <button type="button" mat-stroked-button disabled>Cancelar</button>

        <button type="button" mat-raised-button color="primary" disabled title="Cadastrando">
            <mat-spinner diameter="20"></mat-spinner>
        </button>
    </div>
</ng-template>